@charset "utf-8";
/* CSS Document */

* {
	margin:0; padding:0;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

#global { background-image: url("Media/background.jpg"); width:device-width; position:absolute; }
#intro {background-color:white; opacity: 0.7; text-align: justify; padding-top: 20px; padding-bottom: 20px; padding-left: 70px; padding-right: 70px; font-size: large;}
.para {font-family: cursive; font-weight: bold ; text-align: center;}
h1, h2, #footer { height:50px; background-color:black; opacity: 0.7; color:white; text-align:center; padding-top: 20px;}
#footer a:link {color: white; text-decoration: none; text-align:center;}
#footer a:visited {color: white;text-decoration: none;text-align:center;}
#footer a:hover {color: rgb(150, 148, 148); text-decoration: none; text-align:center;}
a:visited {color: rgb(55, 55, 97);}
h3 {text-align: center; padding-top: 10px; padding-bottom: 10px;} 
#b1 {display: block; font-size: larger; color: black; font-weight: bold ; padding: 10px; border-radius: 8px; width: 100%; border-color: rgb(47, 46, 56); border-style:solid; background-color: rgb(189, 189, 189); margin: 15px; margin-bottom: 15px; margin-left: auto; margin-right: auto; cursor: pointer;}
#b1:hover {box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);}
blockquote {padding-left: 15px; padding-right: 15px; padding-bottom: 15px; font-size:medium;}


#menugauche { float:left; width:110px; background-color: black; opacity: 0.7; color:white; padding:20px;}
#menudroit { padding:20px;float:right; width:110px; background-color: black; opacity: 0.7; color:white;}

#contenu {border-style: solid; height:500px; overflow:auto; padding:20px; margin:0 50px;  background-color: rgb(255, 255, 255, 0.7) ; text-align: justify;}
#contenu p { margin-bottom:20px; font-size: large;}
img {object-fit: contain; opacity:1; border-style:solid; border-color: black; border-width: 1px; margin-top: 10px; margin-bottom: 10px; max-width: 100%; height: auto;}
/* got an issue with the image display: how to remove the transparency resulting from the opacity of the background (image and/or color?) 
- need to make background transparent for the space of #contenu through some other means than background opacity 
GOT IT! thanks to Philippe: the attribute "opacity" applies to the content; for the colour one must define it as the 4th property of RGB colour choice*/
article {border: groove 2px black; padding: 10px; border-radius: 5px; margin-bottom: 20px;}
/* iframe {width:100%; height:500px; outline:none; padding:none; margin: none;} */
#menudroit ul, #menugauche ul {list-style-type:none;}
#menudroit li, #menugauche {text-align: center; }
#menudroit li {padding: 10px;}
#menudroit li a, #menugauche li a {color:white; text-decoration: none;}
#menudroit li a:visited, #menugauche li a:visited { color:white; text-decoration: none;}
#menudroit li a:hover, #menugauche li a:hover { color:rgb(150, 148, 148); text-decoration: none;}
#menudroit h2, #menugauche h2 { font-size:17px;}
p.fig {font-size: smaller; text-align: right;}
#contenu li {margin-left: 40px; text-align: justify; font-size: large;}
.gallery {align-items: center;}
.gal {width: 700px;}

span{
    opacity: 0;
    transition: all 0.2s ease;
}
span.code {opacity: 1; font-family: 'Courier New', Courier, monospace;}
span.fade{
    opacity: 1;
}
#launchAnim:hover {
	color: rgb(58, 58, 58);
	font-weight: bold;
}

@media print {
	.noprint { display:none;}
	#contenu { height:auto; margin:0; }
#global {  width:auto; position:relative; top:0; left:0; margin:0;}
}
