@charset "utf-8";
/* CSS Document */

* {
	margin:0; padding:0;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; 
}
#global {min-height: 800px; background-image: url("Media/background.jpg"); background-attachment: fixed;} 
#menu {margin-left: 150px; margin-right: 150px; background-color:white; opacity: 0.7; border-style: solid; text-align: justify; padding-top: 50px; padding-bottom: 100px; padding-left: 70px; padding-right: 70px; font-size: large;}
h1 { height:50px; background-color:rgb(0, 0, 0, 0.7); color:white; text-align:center; padding-top: 20px;}
h2 {text-align:center; padding-top: 20px;}
#footer { height:50px; position:fixed; bottom: 0pt; left: 0px; text-align: center; background-color:black; opacity: 0.7; color:white;  padding-top: 20px; padding-left: 20px; padding-right: 20px; text-decoration: none;}
a:visited a:link {color: white; text-decoration: none;}
a:link {color: white; text-decoration: none;}
p {color: white;}
/*footer and return to Main to sort out */ 

h3 {text-align: center; padding-top: 10px; padding-bottom: 10px;} 
#menu ul {list-style-type:none; padding-top: 20px;}
#menu { text-align: center;}
#menu li a:link {color: rgb(40, 40, 85); font-size: bold; text-decoration: none; }
#menu li a:visited {color: rgb(40, 40, 85); font-weight: bold; text-decoration: none; }
#menu li a:hover {color: black;}
#menu li {padding: 10px;}


